Client/node_modules
Server/run.bat
Server/node_modules
Server/lib/node_modules
Server/lib/Web/public/js/**
!Server/lib/Web/public/js/jquery.js
!Server/lib/Web/public/js/fabric.min.js
!Server/lib/Web/public/js/diff-match-patch-compressed.js
!Server/lib/Web/public/js/oauth-buttons.min.js
!Server/lib/Web/public/js/oauth-buttons.min.js.map
Server/lib/sub/auth.json
Server/lib/sub/global.json
.vscode
Server/ktma.py
Server/config.txt
Server/끄투서버매니저.desktop
Server/lib/KKUTU_ERROR.log
db.sql
